body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
    pointer-events: none;
}

header{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 9em;
    width: 100%;
    text-align: center;

}

.titulo{
    font-size: 2rem;
    margin: 10px 0;
}

.subtitulo{
    font-size: 1rem;
    margin: 0;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    max-width: 900px;
    /* overflow: hidden; */
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.image{
    background-image: url(/asstets/img/hero-chica.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 20px;
}

.tarjetaTitulo{
    padding: 20px;
    background-color: white;
    width: 100%;
    height: 100px;
    aspect-ratio: 16/9;
    text-align: center;
}

hr{
    width: 20%;
}

.tarjetaTitulo p ~ p{
    color: gray;
}

.tarjeta2{
    background-color: rgb(194, 190, 190);
    padding: 20px;
    width: 100%;
    height: 370px;
    color: rgb(51, 50, 50);
    text-align: justify;
}

.tarjetaFinal{
    background-color: rgb(41, 35, 35);
    padding: 20px;
    width: 100%;
    height: 900px;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloTarjeta{
    padding: 20px;
    background-color: rgb(14, 12, 12);
    width: 80%;
    height: 70%;
    aspect-ratio: 16/9;
    text-align: center;
}

.tituloTarjeta p b{
    color: white;
    font-size: 26px;
}

.tituloTarjeta p ~ p{
    color: gray;
}